<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="icon" href="/img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/nice-select/nice-select.css">
  <link rel="stylesheet" href="/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="/css/style.css">

  <script src="/jquery/jquery-3.2.1.min.js"></script>
  <script src="/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/skrollr.min.js"></script>
  <script src="/owl-carousel/owl.carousel.min.js"></script>
  <script src="/nice-select/jquery.nice-select.min.js"></script>
  <script src="/jquery.ajaxchimp.min.js"></script>
  <script src="/mail-script.js"></script>
  <script src="/js/main.js"></script>
  
</head>

