<%- include('includes/app.ejs') %>
<%- include('includes/header.ejs') %>

<main class="site-main">

    <!--================ Hero banner start =================-->
    <section class="hero-banner">
        <div class="container">
            <div class="row no-gutters align-items-center pt-60px">
                <div class="col-5 d-none d-sm-block">
                    <div class="hero-banner__img">
                        <img class="img-fluid" src="/img/home/hero-banner.png" alt="">
                    </div>
                </div>
                <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                    <div class="hero-banner__content">
                        <h4>404</h4>
                        <h1>The page you are looking for was not found.</h1>
                        <a class="button button-hero" href="/">Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Hero banner End =================-->

</main>

<%- include('includes/footer.ejs') %>