<%- include('../includes/app.ejs') %>


	<%- include('../includes/header.ejs') %>
		<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="category">
			<div class="container h-100">
				<div class="blog-banner">
					<div class="text-center">
						<h1>Order Tracking</h1>
						<nav aria-label="breadcrumb" class="banner-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Order Tracking</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- ================ end banner area ================= -->


		<!--================Tracking Box Area =================-->
		<section class="tracking_box_area section-margin--small">
			<div class="container">
				<div class="tracking_box_inner">
					<p>To track your order please enter your Order ID in the box below and press the "Track" button.
						This
						was given to you on your receipt and in the confirmation email you should have received.</p>
					<form class="row tracking_form" action="#" method="post" novalidate="novalidate">
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="order" name="order" placeholder="Order ID"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Order ID'">
						</div>
						<div class="col-md-12 form-group">
							<input type="email" class="form-control" id="email" name="email"
								placeholder="Billing Email Address" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Billing Email Address'">
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="button button-tracking">Track Order</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		<!--================End Tracking Box Area =================-->



		<%- include('../includes/footer.ejs') %>